
.container-anterior{
    height: 120px;
    width: 220px;
    border: 3px solid blue;
    background: 
    url(img/mario.png) left bottom no-repeat,
    url(img/nubes.png) left top repeat-x,
    url(img/camino.png) left bottom repeat-x;  
    background-color: lightskyblue;
}

.container-medio{
    margin: 25px;
    height: 240px;
    width: 440px;
    border: 3px solid red;
    background:
    url(img/camino.png) left bottom repeat-x,
    url(img/nubes.png) left top repeat-x,
    url(img/mario.png) left bottom no-repeat;
    background-color: lightskyblue;  
}

.container-posterior{
    height: 120px;
    width: 220px;
    border: 3px solid blue;
    background:
    url(img/camino.png) left bottom repeat-x,
    url(img/mario.png) left bottom no-repeat,
    url(img/nubes.png) left top repeat-x;
    background-color: lightskyblue; 
}

