table{
    margin: 50px;
    padding: 4px ;
    border: 3px solid rosybrown;
    box-shadow: inset -3px -3px 3px 3px rosybrown;
    border-spacing: 0px;
}

tr, th, td{
    border: 2px solid rosybrown;
}

th {
    width: 150px;
}

tr:nth-child(1){
   background-color: burlywood;
   color: white;
}

tr:nth-child(2){
    background-color: beige;
 }

 tr:nth-child(3){
    background-color: beige;

 }

 tr:nth-child(4){
    background-color: blanchedalmond;
 }

 .centrado{
     text-align: center;
 }